PUERTO=3000

# Base de datos
BD_HOST=localhost
BD_USER=postgres
BD_PASS=tu_contraseña
BD_BD=tienda
BD_PORT=5432

# Seguridad (JWT y Cookies)
JWT_SECRET=tu_secreto_jwt_aqui
COOKIE_SECRET=tu_secreto_cookie_aqui
